
.nav-container {
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
}

.Title-logo {
    margin: 0;
    padding-top: 12px;
    padding-left: 4%;
    height: 100px;
    background-color: gainsboro;
}

.Title-logo a {
    text-decoration: none;
    color: black;
}

.nav-item {
    background-color: gainsboro;
    display: block;
    justify-content: space-between;
    padding-left: 4%;
    padding-top: 34px;
}

.nav-item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}